-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: somaj_romania
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `statistici`
--

DROP TABLE IF EXISTS `statistici`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statistici` (
  `id` int NOT NULL AUTO_INCREMENT,
  `judet` varchar(100) NOT NULL,
  `anul` int NOT NULL,
  `luna` int NOT NULL,
  `numar_someri` int DEFAULT '0',
  `someri_femei` int DEFAULT '0',
  `someri_barbati` int DEFAULT '0',
  `urban` int DEFAULT '0',
  `rural` int DEFAULT '0',
  `varsta_sub25` int DEFAULT '0',
  `varsta_25_29` int DEFAULT '0',
  `varsta_30_39` int DEFAULT '0',
  `varsta_40_49` int DEFAULT '0',
  `varsta_50_55` int DEFAULT '0',
  `varsta_peste55` int DEFAULT '0',
  `edu_fara_studii` int DEFAULT '0',
  `edu_primar` int DEFAULT '0',
  `edu_gimnazial` int DEFAULT '0',
  `edu_liceal` int DEFAULT '0',
  `edu_postliceal` int DEFAULT '0',
  `edu_profesional` int DEFAULT '0',
  `edu_universitar` int DEFAULT '0',
  `rata_somaj` float DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_judet_luna` (`judet`,`anul`,`luna`),
  KEY `idx_judet` (`judet`),
  KEY `idx_an_luna` (`anul`,`luna`)
) ENGINE=InnoDB AUTO_INCREMENT=1219 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statistici`
--

LOCK TABLES `statistici` WRITE;
/*!40000 ALTER TABLE `statistici` DISABLE KEYS */;
/*!40000 ALTER TABLE `statistici` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statistici_somaj`
--

DROP TABLE IF EXISTS `statistici_somaj`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statistici_somaj` (
  `anul` int DEFAULT NULL,
  `luna` int DEFAULT NULL,
  `numar_someri` int DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `grupa_varsta` varchar(255) DEFAULT NULL,
  `judet` varchar(255) DEFAULT NULL,
  `mediu` varchar(255) DEFAULT NULL,
  `nivel_educatie` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statistici_somaj`
--

LOCK TABLES `statistici_somaj` WRITE;
/*!40000 ALTER TABLE `statistici_somaj` DISABLE KEYS */;
/*!40000 ALTER TABLE `statistici_somaj` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-31 14:55:54
